*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

body{
    background-color: #33384e;
    overflow-x: hidden;
}

.centralize {
    text-align: center;
}


#cabecalho {
    border-bottom: #f1325b solid 4px;

    position: sticky;
    top: 0px;

    height: 60px;
    width: auto;

    background-color: black;
}
.englishContent {
    padding-top: 15px;
    padding-left: 5px;

    font-size: 30px;

    font-family: 'Times New Roman', Times, serif;
    color: #cc2649;
}

#Banner {
    height: 400px;
    width: 90%;

    border: #66324c solid 3px;

    margin-top: 60px;
}
/*
#banner {
    height: 400px;
    width: 94%;
    
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(255, 255, 255);

    border: 2px solid #0BD926;
}
*/



#principal {
    padding-top: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    height: 800px;
    width: 96%;

    height: 600px;
    width: 96%;

    background-color: #003e4f;

    border-top-left-radius: 10%;
    border-top-right-radius: 10%;

    
}
#content-Font {
    /*
    position: relative;
    top: 150px;
    right: -20px;
*/
    text-align: center;

    font-family:Georgia, 'Times New Roman', Times, serif;
    /*background-color: black;*/
}

.content {
    border: #992c4b solid 2px;

    margin-top: 44px;
    margin-right: auto;
    margin-left: auto;

    height: 40px;
    width: 80%;

    text-align: center;

    color:#003e4f;

    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;    

    background-color: #992c4b;
}
.content:hover {
    border: #66324c solid 2px;

    color: #33384e;

    background-color: #f1325b;

    font-size: 30px;
    height: 45px;
}


#sobre {
    
    height: 250px;
    width: 95%;

    border-radius: 2%;

    text-align: center;
    
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;

    background-color: #000;
}
.paragrafo_Sobre {
    margin-top: 25px;
    color: white;
}